.section-padding-bottom {
    padding-bottom: 65px;
  }
  
  @media (min-width: 768px) {
    .section-padding-bottom {
      padding-bottom: 5rem;
    }
  }
  
  @media (min-width: 1024px) {
    .section-padding-bottom {
      padding-bottom: 7rem;
    }
  }
  
  @media (min-width: 1280px) {
    .section-padding-bottom {
      padding-bottom: 130px;
    }
  }

  .container {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
  }
  
  .\!container {
    width: 100% !important;
    margin-right: auto !important;
    margin-left: auto !important;
    padding-right: 15px !important;
    padding-left: 15px !important;
  }
  
  @media (min-width: 640px) {
    .container {
      max-width: 640px;
      padding-right: 15px;
      padding-left: 15px;
    }
  
    .\!container {
      max-width: 640px !important;
      padding-right: 15px !important;
      padding-left: 15px !important;
    }
  }
  
  @media (min-width: 768px) {
    .container {
      max-width: 768px;
    }
  
    .\!container {
      max-width: 768px !important;
    }
  }
  
  @media (min-width: 1024px) {
    .container {
      max-width: 1024px;
      padding-right: 15px;
      padding-left: 15px;
    }
  
    .\!container {
      max-width: 1024px !important;
      padding-right: 15px !important;
      padding-left: 15px !important;
    }
  }
  
  @media (min-width: 1140px) {
    .container {
      max-width: 1140px;
      padding-right: 15px;
      padding-left: 15px;
    }
  
    .\!container {
      max-width: 1140px !important;
      padding-right: 15px !important;
      padding-left: 15px !important;
    }
  }
  
  @media (min-width: 1170px) {
    .container {
      max-width: 1170px;
      padding-right: 15px;
      padding-left: 15px;
    }
  
    .\!container {
      max-width: 1170px !important;
      padding-right: 15px !important;
      padding-left: 15px !important;
    }
  }

  .hover\:container:hover {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
  }
  
  @media (min-width: 640px) {
    .hover\:container:hover {
      max-width: 640px;
      padding-right: 15px;
      padding-left: 15px;
    }
  }
  
  @media (min-width: 768px) {
    .hover\:container:hover {
      max-width: 768px;
    }
  }
  
  @media (min-width: 1024px) {
    .hover\:container:hover {
      max-width: 1024px;
      padding-right: 15px;
      padding-left: 15px;
    }
  }
  
  @media (min-width: 1140px) {
    .hover\:container:hover {
      max-width: 1140px;
      padding-right: 15px;
      padding-left: 15px;
    }
  }
  
  @media (min-width: 1170px) {
    .hover\:container:hover {
      max-width: 1170px;
      padding-right: 15px;
      padding-left: 15px;
    }
  }

  @media (min-width: 640px) {
    .sm\:container {
      width: 100%;
      margin-right: auto;
      margin-left: auto;
      padding-right: 15px;
      padding-left: 15px;
    }
  
  
    @media (min-width: 640px) {
      .sm\:container {
        max-width: 640px;
        padding-right: 15px;
        padding-left: 15px;
      }
    }
  
    @media (min-width: 768px) {
      .sm\:container {
        max-width: 768px;
      }
    }
  
    @media (min-width: 1024px) {
      .sm\:container {
        max-width: 1024px;
        padding-right: 15px;
        padding-left: 15px;
      }
    }
  
    @media (min-width: 1140px) {
      .sm\:container {
        max-width: 1140px;
        padding-right: 15px;
        padding-left: 15px;
      }
    }
  
    @media (min-width: 1170px) {
      .sm\:container {
        max-width: 1170px;
        padding-right: 15px;
        padding-left: 15px;
      }
    }
  }

    @media (min-width: 768px) {
      .md\:container {
        width: 100%;
        margin-right: auto;
        margin-left: auto;
        padding-right: 15px;
        padding-left: 15px;
      }
    
    
      @media (min-width: 640px) {
        .md\:container {
          max-width: 640px;
          padding-right: 15px;
          padding-left: 15px;
        }
      }
    
      @media (min-width: 768px) {
        .md\:container {
          max-width: 768px;
        }
      }
    
      @media (min-width: 1024px) {
        .md\:container {
          max-width: 1024px;
          padding-right: 15px;
          padding-left: 15px;
        }
      }
    
      @media (min-width: 1140px) {
        .md\:container {
          max-width: 1140px;
          padding-right: 15px;
          padding-left: 15px;
        }
      }
    
      @media (min-width: 1170px) {
        .md\:container {
          max-width: 1170px;
          padding-right: 15px;
          padding-left: 15px;
        }
      }

    }